@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


    <header class="masthead">
        <!-- Rest of your header code -->

        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Period Tracker</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Empowering Every Cycle, Every Step of the Way.</h2>
                    <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Index">Get Started</a>
                </div>
            </div>
        </div>
    </header>





