@model IEnumerable<periodTracker.Models.Feedback>

@{
    ViewData["Title"] = "Feedback List";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<style>
    .container {
        margin-top: 80px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

        .table th,
        .table td {
            padding: 12px 15px;
            text-align: left;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            background-color: #f8f9fa;
            color: #495057;
            font-weight: 500;
        }

        .table tbody tr:nth-child(even) {
            background-color: #f8f9fa;
        }

        .table tbody tr:hover {
            background-color: #e9ecef;
        }
</style>

<div class="container">
    <h2 class="mb-4">Received Feedback</h2>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Message</th>
                    <th>Submission Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.userName</td>
                        <td>@item.Message</td>
                        <td>@item.SubmissionTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
